export(insertTilde)
export(plot_chains)
export(make_lbls)
export(make_dummies)
export(make_flx)
export(get_desc)
export(xtsum)
export(reverse)
export(wtd_scale)
import(rstudioapi)
import(ggplot2)
import(dplyr)
import(tidyr)
import(tibble)
import(purrr)
import(mice)
import(Hmisc)
importFrom(glue, glue)
import(flextable)
import(officer)
